/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/add/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_category__DFRbT {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: page_show__GYxIb 500ms;
}
.page_currentCategory__fkRHe {
    width: 70vw;
    margin: 0;
}
.page_inputs__KzX_C {
    margin-top: 100px;
}

@keyframes page_show__GYxIb {
    from {
        opacity: 0.2;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
