* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

body.dark {
  background-color: rgb(38, 38, 41) !important;
}
body {
  background-color: rgb(38, 38, 41) !important;
}

.alert {
  position: fixed;
  bottom: calc(5vw + 56px);
  margin-left: 5vw;
  width: 80vw;
}
main {
  margin: 10vw;
}

.fab {
  left: calc(90vw - 56px );
  position: fixed;
  bottom: 5vw;
  margin-left: 5vw;
  width: 80vw;
}

@media screen and (min-width: 800px) {
  .alert {
    position: fixed;
    bottom: calc(0.5vw + 56px);
    margin-left: 0.5vw;
    width: 98vw;
  }
  .fab {
    left: calc(90vw - 56px );
    position: fixed;
    bottom: 0.5vw;
  }
  main {
    margin: 1vw;
  }
}