/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/profile/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_profileInfo__pbAOC {
    display: flex;
}
.page_containerForButton__FhoN7 {
    justify-content: center;
    align-items: center;
}
.page_error__GAy42 {
    color: rgb(238, 37, 37);
}

.page_leftMargin__ewx17 {
    margin-left: 8px;
}

