/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/signUp/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.page_heading__d3Iui {
    align-self: center;
    margin-bottom: 50px;
}
.page_mainCard__YcANU {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    margin-top: calc(50vh - 56px - 150px);
}

.page_alreadyRegConteiner__69x9_ {
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page_alreadyReg__KYYbJ{
    padding: 20px;
    width: 300px;
    /* margin-top: calc(50vh - 56px - 150px); */
}

.page_passwordInput__cJxZ4 {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.page_main__jnJMg {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* display: flex; */
    /* padding: 0 10vw; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
    /* width: 80vw; */
}
.page_otherLogIn__18xjw {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 1200px) {
    .page_mainCard__YcANU {
        width: 1000px;
        padding: 100px;
    }
    .page_mainInner__T_POg {
        position: absolute;
        top: calc(20vh - 250px);
        left: calc(50vw  - 500px);
    }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/buttonSignIn/buttonSignIn.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.buttonSignIn_btn__LJyLU {
    border-radius: 100%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px;
    background: none;
    margin-bottom: 10px;
}
